# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Temp / backup
*.bak
*.tmp
*.orig

# Misc
node_modules/
dist/
build/
webui-docs/

# Python
__pycache__/
*.py[cod]

.env
sample.*
